/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~assets/md-font/material-icons.css';
/* App-specific styles */
.app-sidenav {
	min-width: 200px;
}
.active-link {
	color: #3F51B5 !important;
	background-color: #E0E0E0 !important;
}
.mat-button:not(.no-caps), .mat-raised-button:not(.no-caps), .mat-simple-snackbar-action {
	text-transform: uppercase;
}
.mat-card {
	margin: 8px;
}
.app-sidenav-button {
	margin-right: 15px !important;
}